.landing-1{
    height: 90vh;
    border-radius: 35px;
    background-color: #f5eff5;
    padding-left: 60px;
    padding-right: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.heading-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.image-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
}

.img{
    border-radius: 15px;
}

.app-store-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-store-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-store-card-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stars-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.download-app-text{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

.download-app{
    margin: 0px;
    padding: 0px;
}

.main-title{
    font-size: 42px;
}

.bgPic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    background-color: #e1d0e1;
    z-index: -1;
}

/* ---------------------------------------------------------*/

.circular-path {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px dashed white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.icon {
    position: absolute;
    fill: black;
  }
  
  .i-1 {
    bottom: 8.5%;
    left: 11.5%;
  }
  
  .i-2 {
    bottom: 12.5%;
    right: 12.5%;
  }
  
  .i-3 {
    top: 45%;
    left: -1.5%;
  }
  
  .i-4 {
    top: 13%;
    left: 12.5%;
  }

  .i-5 {
    top: 10%;
    right: 10.5%;
  }

/* ------------- animated small divs ------------------------- */

.semi-circle-1{
    position: absolute;
    top: 73%;
    left: 0%;
    height: 30px;
    width: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffb3a7;
}

.semi-circle-2{
    position: absolute;
    bottom:0%;
    left: 30%;
    height: 20px;
    width: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ffb3a7;
}

.outer-circle{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffd5b6;
    top: 30%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ff4433;
}

.landing-page-halfOval {
    position: absolute;
    width: 150px;
    height: 30px;
    background: radial-gradient(ellipse at 50% 100%, #00A86B 70%, transparent 70%);
    top: -4%;
    left: 20%;
    transform: rotate(-50deg);
}

.landing-page-small-halfOval1 {
    position: absolute;
    width: 50px;
    height: 13px;
    background: radial-gradient(ellipse at 50% 100%, #00A86B 70%, transparent 70%);
    top: 23%;
    left:44%;
    transform: rotate(30deg);
}

.landing-page-single-circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffb3a7;
    top: 18%;
    right: 49%;
}

.landing-page-single-circle1{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:#ffb3a7;
    top: -2%;
    right: 10%;
}

.ghost1{
    height: 16px;
    width: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: absolute;
}

.big-ghost{
    height: 60px;
    width: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blue{
    background-color: #62c1e5;
}

.orange{
    background-color: #e6574a;
}

.pink{
    background-color: #DB7FB6;
}

.big-blue{
    background-color: #a0d9ef;
}

.big-pink{
    background-color: #E6A8D7;
}

.tilt-1{
    transform: rotate(6deg);
}

.tilt-2{
    transform: rotate(180deg);
}

.tilt-3{
    transform: rotate(230deg);
}

.tilt-4{
    transform: rotate(20deg);
}

.tilt-5{
    transform: rotate(60deg);
}